.body{
    padding: 0;
    margin: 0;
    background-color: #C4C4C4;
}

.navigation{
    height: 80px;
    background: white;
}

.logo{
    width: 80px;
    height: 80px;
    position: absolute;
}

.logo_name{
    left: 80px;
    top: 50px;
    position: absolute;
}

.accountHeader{
    padding: 0;
    margin: 0;
    height: 200px;
    background: linear-gradient(to left, #19BDD3, #FF0000);
}

.accountHeader .time{
    top: 120px;
    left: 40px;
    position: absolute;
}

.accountHeader div{
    top: 180px;
    left: 200px;
    position: absolute;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 20px;
}

ul li{
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
    width: 150px;
    height: 50px;
    border: 1px solid #19BDD3;
    line-height: 50px;
    text-align: center;
    float: right;

}

ul li:hover{
    background-color: #19BDD3;
}

ul ul{
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    display: none;
}

ul li:hover > ul{
    display: block;
}

.button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.img1 {
  border-radius: 5%; 
  padding-top: 10px;
  padding-right: 20px;
  
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
