body {
    padding: 0;
    margin: 0;
    background: lightgray;
    font-family: sans-serif;
}

.navigation{
    height: 100px;
    background: linear-gradient(#19BDD3, lightgray);
    margin-bottom: -35px;
}

.accountHeader{
    height: 200px;
    background: linear-gradient(#19BDD3, #C4C4C4);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
    width: 150px;
    height: 60px;
    border: 1px solid #19BDD3;
    line-height: 50px;
    text-align: center;
    float: right;
}

ul li:hover{
    background-color: #19BDD3;
}

ul ul{
    display: none;
}

ul li:hover > ul{
    display: block;
}

.content {
    max-width: 500px;
    margin: 0 50px 0;

}

.content h1 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 250%;
    margin: 35px 0 15px;
}

.free_box {
    width: 650px;
    height: 280px;
    background: white;
    color: black;

    margin: auto;

    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 20px;
}
.content_free {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.content_free h1 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 175%;
}

.content_free h2 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 125%;
}

.basic_box {
    width: 650px;
    height: 325px;
    background: white;
    color: black;

    margin: auto;

    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 20px;
}

.content_basic {
    max-width: 500px;
    margin: auto;
    text-align: right;
}

.content_basic h1 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 175%;
}

.content_basic h2 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 125%;
}

.premium_box {
    width: 650px;
    height: 375px;
    background: white;
    color: black;

    margin: auto;

    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 20px;
}

.content_premium {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.content_premium h1 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 175%;
}

.content_premium h2 {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 125%;
}

.button {
    border-radius: 9px;
    font-family: sans-serif;
    color: #000000;
    font-size: 135%;
    padding: 10px 20px;
    border: solid 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background: darkgray;
    border: solid black 3px
}

.bottom{

    margin: 0;
    height: 65px;
    width: 100%;
    background: lightgray;
    position: relative;
    top: 80%;
}

.bottom .button_AboutUs{

    position: absolute;
    top: 20%;
    left: 30%;
}

.bottom .button_Services{
    position: absolute;
    top: 20%;
    left: 40%;
}

.bottom .button_ContactUs{
    position: absolute;
    top: 20%;
    left: 50%;
}

.bottom .button_Resources{
    position: absolute;
    top: 20%;
    left: 60%;
}

.bottom .button_FAQs{
    position: absolute;
    top: 20%;
    left: 70%;
}
