.body{
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;;
    background-color: #C4C4C4;
}

.navigation{
    height: 80px;
    background: white;
}

.logo{
    width: 80px;
    height: 80px;
    position: absolute;
}

.logo_name{
    left: 80px;
    top: 50px;
    position: absolute;
}

.accountHeader{
    padding: 0;
    margin: 0;
    height: 200px;
    background: linear-gradient(to left, #19BDD3, #FF0000);
}

.accountHeader .time{
    top: 120px;
    left: 40px;
    position: absolute;
}

.accountHeader div{
    top: 180px;
    left: 200px;
    position: absolute;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 20px;
}

ul li{
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
    width: 150px;
    height: 50px;
    border: 1px solid #19BDD3;
    line-height: 50px;
    text-align: center;
    float: right;

}

ul li:hover{
    background-color: #19BDD3;
}

ul ul{
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    display: none;
}

ul li:hover > ul{
    display: block;
}

.content{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 80px;
    padding: 0px;
    position: relative;
    left: 10px;
    height: 800px;
    max-width: 1470px;
    border: solid 5px #19BDD3;
    border-radius: 3%;
}

.twPc-block {
    display: block !important;
}

.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: 8px 125px 15px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    height: 200px;
    width: 200px;
}


h1 {
    font-family: 'Roboto', Arial;
    font-size: 36px;
    text-align: center;

}

h2 {
    font-family: 'Roboto', Arial;
    font-size: 24px;
    text-align: center;

}
.usrInfo h2{
    margin-top: -40px;
    margin-bottom: 40px;
}
.myAcct{
    position: absolute;
    top: 10%;
    width: 700px;
    height: 30px;
}

.myAcct h1 {
    font-family: 'Roboto', Arial;
    position: absolute;
    left: 10%;
}

.button {
    position: relative;
    left: 75%;
    top: 30px;
    border-radius: 30px;
    font-family: sans-serif;
    color: white;
    font-size: 80%;
    padding: 7px 40px;
    border: solid 3px;
    text-decoration: none;
    background: red;
}

.button:hover{
    background: #19BDD3;
}

.budget {
    position: absolute;
    top: 15%;

    width: 700px;
    height: 100px;
    background: white;
    border: solid #C4C4C4;
    margin: 50px 30px 0;
    box-sizing: border-box;
    padding: 13px 30px;
    border-radius: 20px;
}

.budget .budgetText {
    font-family: 'Roboto', Arial;
}

.usrInfo {
    position: relative;
    left: 10%;
    top: 30%;
    width: 500px;
    height: 700px;
    background: white;
    border: solid #C4C4C4;
    margin: -200px 780px 0;
    box-sizing: border-box;
    padding: 13px 30px;
    border-radius: 20px;
}

p {
    text-align: justify;
    line-height: 150%;
}

.usrInfo .usrInformation .editInfo a{
    text-align: center;
    position: relative;
    left: 200px;

}

