body{
    padding: 0;
    margin: 0;
    background: linear-gradient(#19BDD3, #C4C4C4);
    font-family: sans-serif;
}


.loginbox{
    width: 320px;
    height: 420px;
    background: black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
}

.login_user{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: calc(50% - 75px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.loginbox .button{
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    width: 150px;
    top: 80%;
    left: 20%;
    background: #FF0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox .button:hover
{
    cursor: pointer;
    background: #19BDD3;
    color: #000000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: darkgray;
}
.loginbox a:hover
{
    color: #FF0000;
}

.signUpBox{

}

.signUp .signUpBox {
    width: 400px;
    height: 600px;
    background: black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 5%;
}

.signUpBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signUpBox input{
    width: 100%;
    margin-bottom: 20px;
}

.signUpBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.signUpBox .button:hover
{
    cursor: pointer;
    background: #19BDD3;
    color: #000000;
}

.signUpBox .button{
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    width: 150px;
    top: 82%;
    left: 105px;
    background: #FF0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.signUpBox a{
    width: 340px;
    text-align: center;
    position: absolute;
    top: 90%;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: darkgray;
}
.signUpBox a:hover
{
    color: #FF0000;
}

.forgotPass{

}

.forgotPass .forgotPassBox {
    width: 400px;
    height: 240px;
    background: black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 5%;
}

.forgotPassBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.forgotPassBox input{
    width: 100%;
    margin-bottom: 20px;
}

.forgotPassBox input[type="text"], input[type="Email Address"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.forgotPassBox .button:hover
{
    cursor: pointer;
    background: #19BDD3;
    color: #000000;
}

.forgotPassBox .button{
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    width: 150px;
    top: 67%;
    left: 105px;
    background: #FF0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.forgotPassBox a{
    width: 340px;
    position: absolute;
    text-align: center;
    top: 85%;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: darkgray;
}
.forgotPassBox a:hover
{
    color: #FF0000;
}

.emailSent p{
    text-align: center;
}

.emailSent .button{
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    width: 150px;
    top: 10%;
    left: 45%;
    background: #FF0000;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
    text-decoration: none;
}

.emailSent .button:hover{
    background-color: #C4C4C4;
}
