html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.background_img{
    margin: 0;
    padding-top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: table;

}

.navigation{
    width: 100%;
    height: 80px;
}

.left ul{
    margin: 0;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
    position: relative;
}

.left ul li a{
    font-family: 'Roboto', Arial;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    float: left;

}

.right ul{
    margin: 0;
    padding-right: 10px;
    list-style: none;
    position: relative;
}

.right ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', Arial;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 50px;
    text-align: center;
    float: right;
}

.right li:nth-child(1) a{
    border: solid 2px #ffffff;
    padding: 10px 15px 10px 15px;
    margin-top: 8px;
    margin-left: 0;
    border-radius: 5%;
}

.contact{
    text-align: center;
    width: 600px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 5%;
}

.blog{
    position: relative;
    max-height: 100vh;
}

.blog h1{
    text-align: center;
    color: #ffffff;
}

.scrollbar {
    max-height: 100vh;
    max-width: 800px;
    overflow: scroll;
    margin: auto;
}

.first {
    width: 750px;
    height: 510px;
    background: white;
    color: black;

    margin: auto;
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 5px;
}
.one {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.one h1 {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
}

.one p {
    font-family: 'Roboto', Arial;
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 110%;
}

.second {
    width: 750px;
    height: 490px;
    background: white;
    color: black;

    margin: auto;

    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 5px;
}

.two {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.two h1 {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
}

.two p {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 110%;
}

.third {
    width: 750px;
    height: 530px;
    background: white;
    color: black;

    margin: auto;

    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 5px;
}

.three {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.three h1 {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
}

.three p {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 110%;
}

.fourth {
    width: 750px;
    height: 510px;
    background: white;
    color: black;
    margin: auto;
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 5px;
}

.four {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.four h1 {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
}

.four p {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 110%;
}

.fifth {
    width: 750px;
    height: 510px;
    background: white;
    color: black;
    margin: auto;
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 5px;
}

.five {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.five h1 {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
}

.five p {
    color: black;
    text-shadow: 0px 0px 300px #000;
    font-size: 110%;
}

.button {
    border-radius: 9px;
    font-family: sans-serif;
    color: #000000;
    font-size: 135%;
    padding: 10px 20px;
    border: solid 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background: darkgray;
    border: solid black 3px
}

