.body {
    background: #ffffff none repeat scroll 0 0;
    height: 800px;
    max-width: 1360px;
    margin: auto;
    font-family: sans-serif;
}

.logo {
    height: 50px;
    width: 225px;
    margin: 30px 15px -20px;
}

.navigation{
    height: 80px;
    background: white;
    font-family: 'Roboto', Arial;
    margin: -30px 0 0;

}

.accountHeader{
    height: 240px;
}

.accountHeader .time{
    left: 40px;
    position: absolute;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
    width: 150px;
    height: 60px;
    border: 1px solid #19BDD3;
    line-height: 50px;
    text-align: center;
    float: right;
}

ul li:hover{
    background-color: #19BDD3;
}

ul ul{
    display: none;
}

ul li:hover > ul{
    display: block;
}
.twPc-bg {
    background-image: linear-gradient(to left, #19BDD3, #FF0000);
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 200px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}

.contact h1{
    font-size: 50px;
    position: relative;
    

}

.contact p{
    position: relative;
    font-size: 25px;
    margin-bottom: 30px;

}
.contact h2{
    font-size: 20px;
    position: relative;
    margin-bottom: 10px; 
    

}

.contact h3{
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.contact h4{
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.contact h5{
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.contact h6{
    font-size: 20px;
    position: relative;
    margin-top: 20px;
}

.contact a{
    position: relative;
}









