<html>
  <body>
    <div class="ui-page" deviceName="web" deviceType="desktop" deviceWidth="1280" deviceHeight="768">
         <div id="t-5066103b-d2cd-43bc-8e49-30f778ef994b" class="template growth-both devWeb canvas firer commentable non-processed" alignment="center" name="Standard" width="1280" height="768">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/5066103b-d2cd-43bc-8e49-30f778ef994b-1570555192963.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/5066103b-d2cd-43bc-8e49-30f778ef994b-1570555192963-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/5066103b-d2cd-43bc-8e49-30f778ef994b-1570555192963-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>