body{
    padding: 0;
    margin: 0;
    background: linear-gradient(#19BDD3, #C4C4C4);
    font-family: sans-serif;
}


.loginbox{
    width: 320px;
    height: 420px;
    background: black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
}

.login_user{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: calc(50% - 75px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.loginbox input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #FF0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="button"]:hover
{
    cursor: pointer;
    background: #19BDD3;
    color: #000000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: darkgray;
}
.loginbox a:hover
{
    color: #FF0000;
}



.signUp .signUpBox {
    width: 320px;
    height: 420px;
    background: black;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
}

.signUpBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signUpBox input{
    width: 100%;
    margin-bottom: 20px;
}

.signUpBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.signUpBox input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #FF0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.signUpBox input[type="button"]:hover
{
    cursor: pointer;
    background: #19BDD3;
    color: #000000;
}

.signUpBox .button{
    border: none;
    outline: none;
    height: 40px;
    background: #FF0000;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.signUpBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color: darkgray;
}
.signUpBox a:hover
{
    color: #FF0000;
}